body {
  padding: 20px;
}

h1 {
  border-bottom: 1px solid gray;
}

/* View: Phone list */
.phones {
  list-style: none;
}

.phones li {
  clear: both;
  height: 115px;
  padding-top: 15px;
}
.app-tabs-container {
  padding: 50px;
}
.tabs-header-container {
  height: 50px;
  position: relative;
}
.tabs-header-item {
  display: inline-block;
  margin: 0 10px;
  color: gray;
  cursor: pointer;
  height: 100%;
  line-height: 50px;
  font-size: 12pt;
  text-transform: uppercase;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}

.tabs-header-item.active {
  color: #9B9B9B;
}

.tabs-header-action {
  display: inline-block;
  margin: 5px 10px;
  color: #9012FE;
  cursor: pointer;
  height: 80%;
  line-height: 40px;
  font-size: 12pt;
  text-transform: uppercase;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  position: absolute;
  right: 0;
  top: 0;
  transition: 0.3s ease-in-out;
  padding: 0 25px;
  border-radius: 3px;
}

  .tabs-header-action:hover {
    background-color: bleu;
    color: white;
  }


.tabs-wrapper {
  padding: 30px;
  box-shadow: 0 0 15px 0 rgba(0,0,0,0.1);
  position: relative;
  margin-top: 15px;
}
  .selected-tab-indicator {
    position: absolute;
    width: 30px;
    height: 30px;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
    top: -15px;
    left: 0;
    transform: rotate(45deg);
    background-color: white;
    z-index: 1;
    transition: 0.5s ease-in-out;
    display: none;
  }

.selected-tab-indicator-hider {
  position: absolute;
  width: 100%;
  height: 30px;
  background-color: white;
  top: 0;
  left: 0;
  z-index: 2;
}

.tab-content {
  display: none;
}
.tab-content-wrapper {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.5s, opacity 0.5s ease-in-out;
}


.tab-content.active {
  display: initial;
}
.tab-content-wrapper {
  visibility: visible;
  display: initial;
  opacity: 1;
}

