<div class="container-fluid">
  <div class="row">
    <div class="col-sm-3 slider-container">
      <p>
        <md-input-container class="md-block" flex-gt-sm>
          <label>{{"item.list.search" | translate}}</label>
          <input ng-model="$ctrl.query">
        </md-input-container>
      </p>
      <div layout="row">
        <md-input-container class="full-width">
          <label class="label-area">{{"item.list.category" | translate}}</label>
          <md-select ng-model="$ctrl.selectedCategory">
            <md-optgroup label="categories">
              <md-option ng-value="category" ng-repeat="category in $ctrl.categories"> {{category}}</md-option>
            </md-optgroup>
          </md-select>
        </md-input-container>
      </div>
    </div>

    <div class="col-sm-8 margin-container">
      <div ng-repeat="item in $ctrl.items | filter:$ctrl.query " ng-show="$ctrl.selectedCategory ? item.category == $ctrl.selectedCategory : true">
          <div class="col-sm-12 col-md-12">
            <div class="thumbnail height-container">
              <img ng-src="{{item.imgUrl}}" alt="{{item.name}}" />
              <div class="caption">
                <h3>{{item.name}}</h3>
                <p>{{item.category}}</p>
                <p>{{item.snippet}}</p>
                <p><md-button class="md-primary md-raised" ng-click="$ctrl.showAdvanced($event, item)">{{item.name}}</md-button></p>
              </div>
            </div>
          </div>
      </div>
    </div>

  </div>
</div>
